In [1]:
# Imports
from selenium import webdriver
import chromedriver_autoinstaller
from bs4 import BeautifulSoup as soup
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
# Visit the website
chromedriver_autoinstaller.install()

driver = webdriver.Chrome()

url = "https://static.bc-edx.com/data/web/mars_facts/temperature.html"

driver.get(url)

html = driver.page_source

In [3]:
# Create a Beautiful Soup Object
weather_soup = soup(html,"html.parser")

In [10]:
# Extract all rows of data
table_ = weather_soup.find("tbody")

In [12]:
# Extract table headers
headers_ = weather_soup.find_all("th")
headers_list = [header_.text for header_ in headers_]
headers_list

['id', 'terrestrial_date', 'sol', 'ls', 'month', 'min_temp', 'pressure']

In [26]:
# Extract data rows
rows_ = weather_soup.find_all("tr",class_="data-row")
# row_extract_two = [row_.find_all("td") for row_ in rows_]
big_list = []
for row_ in rows_:
    small_list = [thing.text for thing in row_.find_all("td")]
    big_list.append(small_list)
df = pd.DataFrame(big_list, columns=headers_list)
df

        id terrestrial_date   sol   ls month min_temp pressure
0        2       2012-08-16    10  155     6    -75.0    739.0
1       13       2012-08-17    11  156     6    -76.0    740.0
2       24       2012-08-18    12  156     6    -76.0    741.0
3       35       2012-08-19    13  157     6    -74.0    732.0
4       46       2012-08-20    14  157     6    -74.0    740.0
...    ...              ...   ...  ...   ...      ...      ...
1862  1889       2018-02-23  1973  133     5    -78.0    730.0
1863  1892       2018-02-24  1974  134     5    -77.0    729.0
1864  1894       2018-02-25  1975  134     5    -76.0    729.0
1865  1893       2018-02-26  1976  135     5    -77.0    728.0
1866  1895       2018-02-27  1977  135     5    -77.0    727.0

[1867 rows x 7 columns]